# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Docker
docker-compose.yml
Dockerfile

# Editor/IDE-specific files
.vscode/
.idea/

# Local development settings
.env

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Dependency directories
__pycache__/
node_modules/

# Distribution directories
dist/
build/
*.egg-info/


revanth.pem